@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme{
    /* font */
    --font-ubuntu: "Ubuntu", sans-serif;
} 

@layer base {
    *{
        font-family: var(--font-ubuntu);
        scroll-behavior: smooth
    };

    h1, h2, h3{
        font-weight: medium;
    };
}